@font-face {
  font-family: "AirBnb Cereal";
  src: url("../fonts/AirbnbCereal_W_Lt.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "AirBnb Cereal";
  src: url("../fonts/AirbnbCereal_W_Md.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "AirBnb Cereal";
  src: url("../fonts/AirbnbCereal_W_Bd.otf") format("opentype");
  font-weight: 700;
}

* {
  font-family: "AirBnb Cereal", sans-serif;
  padding: 0;
  margin: 0;
}

.primarycontainer {
  /* background-color: lightcyan; */
  width: 1349px;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  box-sizing: border-box;
}
.ham {
  display: none;
}
.ham .listham {
  display: none;
  list-style: none;
}

nav {
  /* background-color: lightblue; */
  padding: 26px;
}
.navbar {
  /* background-color: lightcoral; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}
.leftnav,
.rightnav {
  display: flex;
  align-items: center;
}

.rightnav li img {
  padding-top: 5px;
  width: 30px;
  height: 30px;
}
.rightnav li a {
  margin-left: 20px;
  margin-right: 100px;
}

li a {
  font-weight: 700;
  margin-left: 50px;
  margin-right: 10px;
  font-size: 15px;
  /* background-color: lightpink; */

  text-decoration: none;
  color: #2e266f;
}

.rightnav a {
  color: #fff;
}

/* ! colorbox */

.sideBlock {
  background-color: #efc81a;
  position: absolute;
  z-index: -9999;
  width: 25%;
  height: 21%;
  top: 0px;
  right: 0px;
}

/* ! konten1 */
.content1 {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 10%;
  /* background-color: red; */
}
.content1 .slide1 {
  /* background-color: lightcoral; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content1 .slide-1m {
  display: none;
}
.content1 .slide2 {
  /* background-color: lightblue; */
  flex: 1;
  display: flex;
}
.slide1 h1 {
  /* background-color: lightcoral; */
  color: #2e266f;
  font-size: 72px;
  margin-left: 15%;
  margin-bottom: 2%;
  font-size: 50px;
  line-height: 80px;
}

.search {
  margin-left: 15%;
  width: 400px;
  height: 70px;
  padding-left: 70px;

  background: #efefef;
  border-radius: 15px;
  border-style: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  opacity: 0.6;

  background-image: url("../img/cari.png");
  background-repeat: no-repeat;
  background-position: 30px;
  background-size: 15px 15px;
}

.slide2 img {
  border-radius: 15px;
  width: 450px;
  height: 450px;
}

.block {
  width: 15px;
  height: 80px;
  margin-right: 15px;
  background: #efc81a;
}

/* ! content2 */
.content2 {
  display: flex;
  width: 100%;
  height: auto;
  /* background-color: blue; */
  margin-bottom: 10%;
}

.pageTitle {
  display: flex;
  align-items: center;
  margin-left: 16%;
  margin-bottom: 5%;
  /* background-color: red; */
}

.pageTitle h2 {
  color: #3f3a3a;
  font-size: xx-large;
}

.circle {
  position: absolute;
  margin-top: 5%;
  margin-left: 0.5%;
}

.row {
  display: flex;
  /* background-color: lightgray; */
}
.dot {
  width: 10px;
  height: 10px;
  margin: 10px;
  border-radius: 50%;

  background: #e6e6e6;
}

.slide1 {
  flex: 1;
  /* background-color: blue; */
}
.slide2 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* background-color: lightgreen; */
}

.image2 img {
  margin-left: 16%;
  width: 440px;
  height: 440px;
  z-index: 1;
}
.image2::before {
  content: "";
  position: absolute;
  background-color: transparent;
  border: 1px solid #efc81a;
  width: 360px;
  height: 415px;
  border-radius: 8px;
  margin-left: 16%;
  margin-top: 4%;
  z-index: -1;
}

/* .border {
  background-color: transparent;
  border: 1px solid #efc81a;
  width: 360px;
  height: 415px;
  border-radius: 8px;
  margin-left: 36%;
} */

.content2 .wrapper h2 {
  color: #3f3a3a;
  font-size: xx-large;
}

.content2 hr {
  margin: 3% 3% 5% 0%;
  width: 55px;
  height: 2px;
  border: none;
  background-color: #6f6a40;
}

.content2 .wrapper h5 {
  font-weight: 300;
  font-size: small;
  color: #3f3a3a;
}

.learnMore {
  margin-top: 5%;
  background-color: #efc81a;
  border: none;
  color: #fff;
  font-size: x-small;
  border-radius: 5px;
  height: 35px;
  width: 100px;
  cursor: pointer;
}

/* ! content 3 */
.content3 {
  display: flex;
  width: 100%;
  height: auto;
  /* background-color: lightcoral; */
  margin-bottom: 10%;
}

.content3 .slide1 {
  flex: 1;
  /* background-color: red; */
}
.content3 .slide2 {
  flex: 1;
  /* background-color: green; */
}

.content3 .sideBarLeft {
  position: absolute;
  background-color: #efc81a;
  z-index: -9999;
  width: 25%;
  height: 13%;
}

.content3 img {
  /* position: absolute; */
  width: 440px;
  height: 440px;
  margin-left: 16%;
  margin-top: 10%;
  z-index: 1;
}

.content3 h2 {
  color: #3f3a3a;
  font-size: xx-large;
}

.content3 hr {
  margin: 3% 3% 5% 0%;
  width: 55px;
  height: 2px;
  border: none;
  background-color: #6f6a40;
}

.content3 h5 {
  font-weight: 300;
  font-size: small;
  color: #3f3a3a;
}

/* ! content4 */
.pageTitleRecipe {
  display: flex;
  align-items: center;
  margin-left: 8%;
  margin-bottom: 10%;
  /* background-color: red; */
}
.pageTitleRecipe h2 {
  color: #3f3a3a;
  font-size: xx-large;
}
.content4 {
  /* margin-top: 2%; */
  /* background-color: lightgoldenrodyellow; */
  width: 100%;
  height: auto;
  margin-bottom: 10%;
}
.content4 .gallery {
  display: grid;
  width: 90%;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10%;
  padding-left: 5%;
  padding-right: 5%;
  justify-items: center;
  /* background-color: lightcoral; */
}

.content4 .gallery .item {
  border-radius: 10px;
  /* background-color: salmon; */

  padding: 5ox;
  height: 250px;
  width: 250px;
}

.content4 .item:nth-child(1) {
  padding: 10px;
  background-image: url("../img/gambarSatu.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: end;
}
.content4 .item:nth-child(2) {
  padding: 10px;
  background-image: url("../img/gambarDua.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: end;
}
.content4 .item:nth-child(3) {
  padding: 10px;
  background-image: url("../img/gambarTiga.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: end;
}
.content4 .item:nth-child(4) {
  padding: 10px;
  background-image: url("../img/gambarEmpat.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: end;
}
.content4 .item:nth-child(5) {
  padding: 10px;
  background-image: url("../img/gambarLima.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: end;
}
.content4 .item:nth-child(6) {
  padding: 10px;
  background-image: url("../img/gambarEnam.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: end;
}

/* ! content 5 */
.content5 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #efc81a;
   */
  background-color: aqua;
  padding-top: 5%;
  padding-bottom: 2%;
}
.wrapper5 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.content5 h1 {
  color: #2e266f;
  font-size: xxx-large;
  text-align: center;
}
.content5 h5 {
  margin-top: 5%;
  color: #707070;
  text-align: center;
  text-transform: capitalize;
}
.foot {
  flex: 1;
  /* background-color: #e6e6e6; */
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10%;
}
.foot ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  width: auto;
}
.foot li {
  /* background-color: lightcoral; */
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #707070;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .primarycontainer {
    background-color: lightcyan;
    width: 600px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .content1 {
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (992px <= width <= 1280px) {
  .primarycontainer {
    width: 100%;
  }
  .sideBlock {
    height: 22%;
  }
  .slide2 {
    padding-top: 5%;
  }
  .content2 .wrapper h2 {
    font-size: 45px;
  }
  .content2 hr {
    width: 20%;
  }
  .content2 .wrapper h5 {
    font-size: large;
  }
  .learnMore {
    font-size: small;
    height: 45px;
    width: 110px;
  }

  .slide2 {
    padding-top: 5%;
  }
  .content3 .wrapper h2 {
    font-size: 45px;
  }
  .content3 hr {
    width: 20%;
  }
  .content3 .wrapper h5 {
    font-size: large;
  }
  .learnMore {
    font-size: small;
    height: 45px;
    width: 110px;
  }
  .content3 .sideBarLeft {
    height: 13%;
  }
  .content4 .gallery {
    grid-gap: 10%;
    justify-items: center;
    padding-right: 5%;
    /* background-color: red; */
  }

  .content4 .gallery .item {
    border-radius: 12px;
    height: 280px;
    width: 280px;
  }
  .content4 .item:nth-child(1) {
    font-size: 20px;
  }
  .content4 .item:nth-child(2) {
    font-size: 20px;
  }
  .content4 .item:nth-child(3) {
    font-size: 20px;
  }
  .content4 .item:nth-child(4) {
    font-size: 20px;
  }
  .content4 .item:nth-child(5) {
    font-size: 20px;
  }
  .content4 .item:nth-child(6) {
    font-size: 20px;
  }
  .content5 h5 {
    font-size: medium;
  }
  .foot li {
    font-size: 15px;
  }
}
@media screen and (800px <= width <= 991px) {
  .primarycontainer {
    width: 100%;
  }
  .sideBarLeft {
    display: none;
  }
  .rightnav li a {
    margin-left: 20px;
    margin-right: 40px;
  }
  .content1 {
    padding-top: 10%;
  }
  .slide1 h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .search {
    width: 70%;
    height: 20%;
  }
  .slide2 img {
    border-radius: 10px;
    width: 250px;
    height: 250px;
  }
  .sideBlock {
    height: 20%;
  }
  .pageTitle {
    margin-left: 20%;
  }
  .pageTitle h2 {
    font-size: 27px;
  }
  .circle {
    margin-top: 4%;
  }
  .dot {
    width: 8px;
    height: 8px;
    margin: 8px;
  }
  .image2 img {
    border-radius: 10px;
    margin-left: 20%;
    width: 250px;
    height: 250px;
  }
  .image2::before {
    width: 215px;
    height: 230px;
    border-radius: 10px;
  }
  .content2 .wrapper h2 {
    font-size: 37px;
    padding-top: 25%;
  }
  .content2 hr {
    width: 20%;
  }
  .content2 .wrapper h5 {
    font-size: 18.5px;
  }
  .learnMore {
    height: 40px;
    width: 110px;
    font-size: 13px;
  }

  .content3 .sideBarLeft {
    width: 25%;
    height: 10%;
  }
  .content3 img {
    width: 250px;
    height: 250px;
  }
  .content3 .wrapper h2 {
    font-size: 37px;
    padding-top: 25%;
  }
  .content3 hr {
    width: 20%;
  }
  .content3 .wrapper h5 {
    font-size: 18.5px;
  }
  .pageTitleRecipe h2 {
    font-size: 27px;
  }
  .content4 .gallery .item {
    height: 150px;
    width: 150px;
  }
  .content5 h5 {
    font-size: medium;
  }
  .foot li {
    font-size: medium;
    padding-bottom: 10%;
  }
}
@media screen and (360px <= width <= 799px) {
  .primarycontainer {
    width: 100%;
  }
  nav {
    display: none;
  }
  .ham {
    /* background-color: lightblue; */
    display: flex;
    text-align: right;
    justify-items: right;
    justify-content: flex-end;
    z-index: 1;
  }
  .ham input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background: none;
  }
  .hamenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .ham span {
    display: flex;
    justify-content: flex-end;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;

    background: #efc81a;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .listham {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
  }
  .sideBlock {
    display: none;
  }
  .content1 slide2 {
    display: none;
  }
  .content1 .slide1 {
    background-color: #efc81a;
    padding-bottom: 10%;
  }

  .slide1 section {
    background-color: #efc81a;
  }
  .slide1 h1 {
    font-size: 32px;
    line-height: 45px;
    padding-top: 10%;
    margin-left: 10%;
  }
  .slide2 img {
    display: none;
  }
  .search {
    /* background-color: lightcoral; */
    width: 70%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12%;
    font-size: 15px;

    background-position: 18px;
  }
  .content2 {
    flex-direction: column;
  }
  .circle {
    display: none;
  }
  .pageTitle {
    margin-left: 5%;
  }
  .pageTitle h2 {
    font-size: 26px;
  }
  .image2 {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
  }
  .image2 img {
    margin-left: 0;
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }
  .image2::before {
    width: 180px;
    height: 200px;
    border-radius: 5px;
  }
  .wrapper {
    /* background-color: lightcoral; */
    margin-left: 10%;
    margin-right: 5%;
  }
  .content2 .wrapper h2 {
    font-size: 23px;
  }
  .content2 .wrapper h5 {
    font-size: 16px;
  }
  .learnMore {
    font-size: 12px;
    font-weight: 300;
  }
  .content3 {
    flex-direction: column;
  }
  .content3 .sideBarLeft {
    display: none;
  }
  .image3 {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    /* background-color: lightcoral; */
  }
  .image3 img {
    margin-left: 0;
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }
  .image3::before {
    content: "";
    position: absolute;
    background-color: transparent;
    border: 1px solid #efc81a;
    margin-left: 16%;
    margin-top: 15%;
    z-index: -1;
    width: 180px;
    height: 200px;
    border-radius: 5px;
  }
  .wrapper {
    /* background-color: lightcoral; */
    margin-left: 10%;
    margin-right: 5%;
  }
  .content3 .wrapper h2 {
    font-size: 23px;
  }
  .content3 .wrapper h5 {
    font-size: 16px;
  }
  .learnMore {
    font-size: 12px;
    font-weight: 300;
  }
  .pageTitleRecipe {
    margin-left: 5%;
  }

  .pageTitleRecipe h2 {
    font-size: 26px;
  }
  .content4 {
    margin-bottom: 35%;
  }
  .content4 .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .content4 .gallery .item {
    justify-items: center;
    height: 100px;
    width: 100px;
  }
  .content4 .item:nth-child(1) {
    font-size: 15px;
  }
  .content4 .item:nth-child(2) {
    font-size: 15px;
  }
  .content4 .item:nth-child(3) {
    font-size: 15px;
  }
  .content4 .item:nth-child(4) {
    font-size: 15px;
  }
  .content4 .item:nth-child(5) {
    font-size: 15px;
  }
  .content4 .item:nth-child(6) {
    font-size: 15px;
  }
  .content5 h1 {
    font-size: 30px;
  }
  .content5 h5 {
    font-size: 12px;
  }
  .foot {
    padding-top: 10%;
  }
  .foot ul {
    justify-content: center;
    padding-bottom: 5%;
    gap: 25px;
  }
  .foot li {
    font-size: 10px;
    width: auto;
  }
}
