@font-face {
  font-family: "AirBnb Cereal";
  src: url("../fonts/AirbnbCereal_W_Lt.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "AirBnb Cereal";
  src: url("../fonts/AirbnbCereal_W_Md.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "AirBnb Cereal";
  src: url("../fonts/AirbnbCereal_W_Bd.otf") format("opentype");
  font-weight: 700;
}

* {
  font-family: "AirBnb Cereal", sans-serif;
  padding: 0;
  margin: 0;
}
.primarycontainer {
  width: 1349px;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  box-sizing: border-box;
}
.content {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
nav {
  padding: 30px;
  /* background-color: antiquewhite; */
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: flex-start;
}

.navbar li {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 15px;
}

.navbar li a {
  font-family: "AirBnb Cereal";
  font-weight: 700;
  text-decoration: none;
  color: #2e266f;
}

/* ! colorbox */
.container-side {
  display: flex;
  justify-content: flex-start;
}
.sideBlock {
  background-color: #efc81a;
  position: absolute;
  z-index: -9999;
  width: 3%;
  height: 100%;
}
.content {
  display: flex;
  width: 100%;
  height: 100%;
}

/* ! main */
.main-content {
  flex: 2;
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  padding-top: 20px;
  padding-left: 150px;
  height: 100%;
}
.main {
  width: 700px;
  height: 400px;
  background-image: url("../img/detailMain.png");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* background-color: lightgreen; */
}
.playbutton {
  /* background-color: antiquewhite; */
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playbutton img {
  width: 30px;
  height: 30px;
  padding: 10px;
}
.fullbutton {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.fullbutton img {
  width: 18px;
  height: 18px;
  padding: 10px;
}

.bar {
  width: 70%;
  height: 5px;
  background-color: red;
}

.main-text {
  /* background-color: lightgreen; */
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.main-text h3 {
  line-height: 30px;
  padding-bottom: 10px;
  font-weight: 700;
}

.main-text h5 {
  font-weight: 500;
  color: #aaaaaa;
}

/* ! sub-main */
.sub-main {
  flex: 1;
  height: 100%;
  /* background-color: lightgreen; */
  padding: 10px;
}

.sidecontent .content {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 10px;
}
h4 {
  padding-left: 18px;
  margin-bottom: 10px;
  font-size: 20px;
  padding-top: 10px;
}

.step1 {
  background-image: url(../img/detail1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 198px;
  height: 95px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
}
.stepcontain {
  flex: 1;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 10px;
}
.step1 h5 {
  /* background-color: azure; */
  font-family: "AirBnb Cereal";
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.5px;
}

.timecontain {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.timestamp {
  /* background-color: beige; */
  padding: 2px;
  margin: 5px;
  width: 30px;

  color: #f8f8f8;
  font-family: "AirBnb Cereal";
  font-weight: 300;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-align: center;
}
.steptext {
  display: flex;
  flex-direction: column;
  width: 319px;
  line-height: 20px;
}
.steptext h3 {
  font-size: 13px;
}
.steptext h5 {
  font-size: 10px;
  color: #aaaaaa;
}

/* ! step2  */
.step2 {
  background-image: url(../img/detail2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 198px;
  height: 95px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
}
.step2 h5 {
  /* background-color: azure; */
  font-family: "AirBnb Cereal";
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.5px;
}

/* ! step3 */
.step3 {
  background-image: url(../img/detail2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 198px;
  height: 95px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
}
.step3 h5 {
  /* background-color: azure; */
  font-family: "AirBnb Cereal";
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.5px;
}
@media screen and (800px <= width <= 991px) {
  .primarycontainer {
    /* background-color: antiquewhite; */
    width: 100%;
  }
  .sideBlock {
    height: 111%;
  }
  .content {
    flex-direction: column;
  }
  .main-content {
    /* background-color: lightcoral; */
    padding-left: 10%;
  }
  .sub-main {
    padding-left: 10%;
  }
  .sidecontent {
    /* background-color: lightcyan; */
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (360px <= width <= 799px) {
  .primarycontainer {
    width: 100%;
  }

  .content {
    flex-direction: column;
  }
  .sideBlock {
    width: 6%;
    height: 125%;
  }
  .main-content {
    padding-left: 12%;
  }
  .main {
    width: 300px;
    height: 200px;
  }
  .fullbutton img {
    width: 15px;
    height: 15px;
    padding: 5px;
  }
  .main-text {
    width: 80%;
  }
  .main-text h3 {
    font-size: 15px;
  }
  .main-text h5 {
    font-size: 10px;
  }
  .sub-main {
    padding-left: 12%;
  }
}
